table.t1
{
	width: 90%;
	border-collapse:collapse;
	margin:0px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: #333 0px 2px 3px;     /*陰影for Google Chrome、Safari*/
	-moz-box-shadow: #333 0px 2px 3px;     /*陰影for Firefox*/
	box-shadow: #333 0px 2px 3px;     /*陰影for IE*/		
}

table.t1 td
{
	border: 1px solid #E0E0E0;
	font-family: myFirstFont;
}

tr.top td,th {
	text-align:center;
	border: 1px solid #E0E0E0;
	background-color:rgb(254,255,153);
	color:black;
	font-family: 標楷體;
	font-weight : bold;	
}

tr.odd {
	background-color:#F0F0F0;
} 
tr.even {
	background-color:white;
} 

h1.tableHead
{
	position:relative;
	top:10px;
	font-family: 標楷體;
	font-weight: bold;
	font-family: impact;
	text-shadow: 1px 1px 2px #777;
	text-align:center;	
}