table.t1
{
	width: 100%;
	font-size: 133%;
	border-collapse:collapse;
}

table.t1 td
{
	vertical-align: top;
	border: 1px solid rgb(50,50,50);
	background-color: rgb(230,250,220);
	font-family: myFirstFont;
}

tr.top td,th {
	text-align:center;
	border: 1px solid rgb(50,50,50);
	background-color:#000099;
	color:white;
	font-family: 標楷體;
	font-weight : bold;	
}

h1.tableHead
{
	font-family: 標楷體;
	font-weight: bold;
	font-family: impact;
	text-shadow: 1px 1px 2px #777;
	text-align:center;	
}