#main
{
	margin:0px auto;
	
}

#header
{
	margin:0px auto;
	margin-left:20px;
	height: 130px;
	font-size: 100%;
}

#headerBar
{
	margin:0px auto;
	margin-top:10px;
	height:50px;
	font-size: 120%;
	font-weight: bold;
	font-family: impact;
	text-shadow: 1px 1px 2px #777;
	background: -moz-linear-gradient(top, rgba(137,0,0,0.89) 0%, rgba(158,0,0,0.33) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,0,0,0.89)), color-stop(100%,rgba(158,0,0,0.33))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3890000', endColorstr='#549e0000',GradientType=0 ); /* IE6-9 */
}

a.topnav
{
	color: white;
	text-decoration: none;
}

table.topnav
{
	color: #555555;
	text-decoration: none;
	width:20%;
	height:45px;
	text-align:center;
}

#outer {
	 margin:0px auto;
	 margin-top:10px;
	 font-size: 80%;
}

#sidebar {
	width:15%;
    float:left;
    margin:0px auto;
}

#container
{
	width:85%;
	float:left;
	margin:0px auto;
}

#footer {
	margin:0px auto;
	height: 130px;
	clear:left;
	background: -moz-linear-gradient(top, rgba(137,0,0,0.89) 0%, rgba(158,0,0,0.33) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,0,0,0.89)), color-stop(100%,rgba(158,0,0,0.33))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(137,0,0,0.89) 0%,rgba(158,0,0,0.33) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3890000', endColorstr='#549e0000',GradientType=0 ); /* IE6-9 */
}