<!DOCTYPE html>
<html>
<head>
    <title>{% block 標題 %}割闌尾計劃{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '選區資料/版面.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '選區資料/format.css' %}" />
</head>

<body id = "main">
	<div id="header"> 
		<img src = "{% static 'image/header.jpg' %}" align=left>
	</div>
	<div id="headerBar"> 
		<table class = topnav>
			<tr>
				<td><a class = topnav href="{% url '看全部選區' %}">選區資料</a></td>
				<td><a class = topnav href="{% url '看全部罷免' %}">罷免狀況</a></td>
			</tr>
		</table>
	</div>	
	
	<div id = "outer">
	    <!-- SIDEBAR -->
	    <div id="sidebar"> {% block sidebar %}{% endblock %} 
	    	<li>"tt"</li>
	    </div>
	
	    <div id="container">
	
	        <!-- MENU -->
	
	        <div id="menu">
	            {% block nav-global %}
	            {% endblock %}
	        </div>
		<br/>
	        <!-- CONTENT -->
	
	        <div id="內容">
	            {% block 內容 %}{% endblock %}
	        </div>
	    </div>
    </div>
	<div id="footer"> </div>
</body>
</html>