<!DOCTYPE html>
<html>
<head>
    <title>{% block 標題 %}割闌尾計劃{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static '選區資料/版面.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '選區資料/format.css' %}" />
</head>

<body id = "main">

	<div id="header">
		<div id="headerIcon">
			<a href="{% url '看全部罷免' %}">
				<img id=mainIcon src = "{% static 'image/header.jpg' %}">
			</a>
		</div>
		<div id="menu"> 
			<!-- memu -->
            {% block nav-global %}
            {% endblock %}		
		</div>
		<div id="G0VIconDiv">
			<a href="http://g0v.tw/">
				<img id=G0VIcon src = "{% static 'image/g0v-icon-invert.jpg' %}">
			</a>
		</div>
	</div>
	
	<div id = "outer">
	    <!-- SIDEBAR -->
	    <div id="sidebar"> 
	    	{% block sidebar %}{% endblock %}	    	
	    </div>
	
	    <div id="container">
	        <!-- CONTENT -->
	
	        <div id="內容">
	            {% block 內容 %}{% endblock %}
	        </div>
	    </div>
    </div>
	<div id="footer"> </div>
</body>
</html>