#main
{
	margin:0px auto;
	
}

#header
{
	margin:0px auto;
	margin-left:50px;
	height: 130px;
	font-size: 100%;
	
}

#outer {
	 margin:0px auto;
	 font-size: 80%;
}

#sidebar {
	width:15%;
    float:left;
    margin:0px auto;
}

#container
{
	width:85%;
	float:left;
	margin:0px auto;
}

#footer {
	margin:0px auto;
	height: 130px;
	clear:left;
	background-color: #DDDDDD;
}